.container {
  background-color: rgba(0, 0, 0, 0.7);
  width: 520px;
  height: auto;
  min-height: 200px;
  padding: 64px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  z-index: 2;
  color: white;
  position: relative;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 769px) {
  .container {
    width: 90%;
    padding: 32px 16px 8px;
  }
}
@media (min-width: 844px) {
  .headerSlideShow {
    height: 650px;
    position: relative;
    width: 100%;
  }
  .headerSlideShow .sliderWrapper .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 103px;
    opacity: 0;
    z-index: 0;
  }
  .headerSlideShow .sliderWrapper .slideActive {
    top: 103px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation-delay: 0.1s;
    animation: fadein 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 2;
  }
  .headerSlideShow .sliderWrapper .prevSlide {
    top: 103px;
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    animation-delay: 0.1s;
    animation: fadeOut 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 1;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .headerSlideShow .sliderWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev,
  .headerSlideShow .controllersWrapper .galleryControllers .next {
    position: absolute;
    z-index: 20;
    background: none;
    border: none;
    width: 50%;
    height: 120%;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0;
    transition: all 0.4s ease-in-out;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev:hover,
  .headerSlideShow .controllersWrapper .galleryControllers .next:hover {
    opacity: 1;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev {
    left: 0;
    justify-content: left;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .next {
    right: 0;
    justify-content: right;
  }
}
@media (max-width: 844px) {
  .headerSlideShow {
    margin-top: 76px;
    height: 370px;
    position: relative;
    width: 100%;
  }
  .headerSlideShow .sliderWrapper .slide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    z-index: 0;
  }
  .headerSlideShow .sliderWrapper .slideActive {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
    animation-delay: 0.1s;
    animation: fadein 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 2;
  }
  .headerSlideShow .sliderWrapper .prevSlide {
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 1;
    animation-delay: 0.1s;
    animation: fadeOut 3s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    z-index: 1;
  }
  @keyframes fadein {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeout {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .headerSlideShow .sliderWrapper img {
    object-fit: cover;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev,
  .headerSlideShow .controllersWrapper .galleryControllers .next {
    position: absolute;
    z-index: 20;
    background: none;
    border: none;
    width: auto;
    height: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
    opacity: 0.6;
    transition: all 0.4s ease-in-out;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev:active,
  .headerSlideShow .controllersWrapper .galleryControllers .next:active {
    opacity: 1;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .prev {
    left: 0;
    justify-content: left;
  }
  .headerSlideShow .controllersWrapper .galleryControllers .next {
    right: 0;
    justify-content: right;
  }
}
@media (min-width: 844px) {
  .headerStill {
    height: 650px;
    position: relative;
    width: 100%;
  }
  .headerStill .sliderWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
@media (max-width: 844px) {
  .headerStill {
    margin-top: 67px;
    height: 370px;
    position: relative;
  }
  .headerStill .sliderWrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
