.header {
  height: 611px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.header .background {
  position: relative;
  object-fit: cover;
  object-position: center;
}
.header .container {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  width: 682px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  height: 246px;
  margin: 0 auto;
  padding: 48px;
  max-width: 80%;
}
.header .container p {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
