.pagination {
  font-size: 18px;

  list-style: none;
  display: flex;
  justify-content: center;
  gap: 16px;
  .active {
    color: white;
    background-color: #8179a6;
    padding: 4px 10px;
    border-radius: 3px;
  }
  a {
    padding: 4px 10px;
    &:hover {
      background-color: #d1cedf;
      padding: 4px 10px;
      border-radius: 3px;
    }
  }
}
