.firstLayout {
  height: 100%;

  .header {
    height: 300px;
    background: #8179a6;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    .contentWrapper {
      width: 100%;
      display: flex;
      margin-top: 72px;

      h2 {
        position: relative;
        margin: 0 auto;
        width: 800px;
        color: white;
        z-index: 5;
        margin-top: 48px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      }

      .imageWrapper {
        width: 50%;
        height: 300px;
        position: absolute;
        z-index: 1;
        right: 0;
        filter: brightness(80%);

        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }
  }

  .linksContainer {
    margin: 32px auto;
    max-width: 1440px;
    color: #626262;
  }

  .contentContainer {
    margin: 64px auto;
    max-width: 1440px;
    color: #2e2e2e;

    .topWrapper {
      margin-bottom: 32px;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 32px;

      .topExcerpt {
        width: 35%;
        padding-right: 94px;
      }

      .topContent {
        width: 65%;
        display: flex;
        flex-direction: column;
      }
    }

    .middleWrapper {
      display: flex;
      align-items: center;
      gap: 64px;
      margin-bottom: 32px;
      .image {
        background: #626262;
        height: 300px;
        width: 50%;
        position: relative;
      }

      .bottomExcerpt {
        width: 50%;
      }
    }

    .bottomWrapper {
    }

    .excerpt {
      p {
        font-size: 2rem;
        font-weight: 700;
        line-height: 2rem;
      }
    }

    .content {
      font-size: 1.2rem;
      p {
        line-height: 1.5rem;
        margin: 16px 0;
      }
    }
  }

  .navigationContainer {
    display: flex;
    justify-content: space-between;
    width: 1440px;
    margin: 0 auto 48px;

    a {
      display: flex;
      align-items: center;
      text-transform: capitalize;
      transition: all 0.4s ease-in-out;

      div {
        max-width: 500px;
      }
      svg {
        width: 35px;
        height: 35px;
      }

      &:hover {
        color: #8179a6;
      }
    }
  }
}
