.twoColPage,
.threeColPage {
  display: block;
}
.twoColPage .postsContainer,
.threeColPage .postsContainer {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.twoColPage .postsContainer .post,
.threeColPage .postsContainer .post {
  margin-bottom: 64px;
}
.twoColPage .postsContainer .post .imageWrapper,
.threeColPage .postsContainer .post .imageWrapper {
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  position: relative;
  width: 100%;
}
.twoColPage .postsContainer .post .imageWrapper img,
.threeColPage .postsContainer .post .imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.twoColPage .postsContainer .post .postTitle,
.threeColPage .postsContainer .post .postTitle {
  color: #2e2e2e;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .postTitle h3,
.threeColPage .postsContainer .post .postTitle h3 {
  margin-bottom: 16px;
  text-transform: none;
}
.twoColPage .postsContainer .post .postTitle:hover,
.threeColPage .postsContainer .post .postTitle:hover {
  color: #8179a6;
}
.twoColPage .postsContainer .post .date,
.threeColPage .postsContainer .post .date,
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: 400;
  color: #626161;
}
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .tags:hover,
.threeColPage .postsContainer .post .tags:hover {
  color: #2e2e2e;
}
.twoColPage .postsContainer .post .postPreview,
.threeColPage .postsContainer .post .postPreview {
  color: #2e2e2e;
  margin-top: 16px;
  overflow: hidden;
}
.twoColPage .postsContainer .post .postPreview img,
.threeColPage .postsContainer .post .postPreview img {
  max-height: 150px;
  object-fit: cover;
  width: 100%;
}
@media (min-width: 992px) {
  .twoColPage .postsContainer,
  .threeColPage .postsContainer {
    max-width: 1067px;
    padding: 0 60px;
  }
}
@media (max-width: 991px) {
  .twoColPage .postsContainer,
  .threeColPage .postsContainer {
    padding: 0 40px;
    margin: 72px 0;
  }
}
@media (min-width: 992px) {
  .twoColPage .postsContainer .post {
    width: calc(50% - 32px);
  }
  .twoColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 2.22413793;
  }
}
@media (max-width: 991px) {
  .twoColPage .post {
    width: 100%;
  }
  .twoColPage .post .imageWrapper {
    aspect-ratio: auto 2.22413793;
  }
}
@media (min-width: 991px) {
  .threeColPage .postsContainer .post {
    width: calc(33.3333% - 32px);
  }
  .threeColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 1.64285714;
  }
}
@media (max-width: 990px) and (min-width: 601px) {
  .threeColPage .postsContainer .post {
    width: calc(50% - 32px);
  }
  .threeColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 1.64285714;
  }
}
@media (min-width: 845px) {
  .header {
    min-width: 100%;
    z-index: 1;
    position: relative;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .imageWrapper {
    width: 100%;
    position: absolute;
    top: 0;
    height: 250px;
  }
  .header .imageWrapper img {
    filter: brightness(70%);
  }
  .header h1 {
    z-index: 10;
    margin: 0 !important;
    position: relative;
    color: white !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 844px) and (min-width: 770px) {
  .header {
    position: relative;
    z-index: 1;
    min-width: 100%;
    height: 204px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .imageWrapper {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 204px;
  }
  .header .imageWrapper img {
    filter: brightness(70%);
  }
  .header h1 {
    z-index: 10;
    position: relative;
    margin: 0 !important;
    color: white !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
@media (max-width: 769px) {
  .header {
    height: 136px;
    position: relative;
    z-index: 1;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header .imageWrapper {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 136px;
  }
  .header .imageWrapper img {
    filter: brightness(70%);
  }
  .header h1 {
    z-index: 10;
    position: relative;
    color: white !important;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}
