.twoColPage,
.threeColPage {
  margin: 120px 0;
  display: block;
}
.twoColPage .postsContainer,
.threeColPage .postsContainer {
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.twoColPage .postsContainer .post,
.threeColPage .postsContainer .post {
  margin-bottom: 64px;
}
.twoColPage .postsContainer .post .imageWrapper,
.threeColPage .postsContainer .post .imageWrapper {
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  width: 100%;
}
.twoColPage .postsContainer .post .imageWrapper img,
.threeColPage .postsContainer .post .imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.twoColPage .postsContainer .post .postTitle,
.threeColPage .postsContainer .post .postTitle {
  color: #2e2e2e;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .postTitle h4,
.threeColPage .postsContainer .post .postTitle h4 {
  font-size: 1.5rem;
  margin-bottom: 16px;
  font-weight: 600;
  text-transform: none;
}
.twoColPage .postsContainer .post .postTitle:hover,
.threeColPage .postsContainer .post .postTitle:hover {
  color: #8179a6;
}
.twoColPage .postsContainer .post .date,
.threeColPage .postsContainer .post .date,
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: 400;
  color: #626161;
}
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .tags:hover,
.threeColPage .postsContainer .post .tags:hover {
  color: #2e2e2e;
}
.twoColPage .postsContainer .post .postPreview,
.threeColPage .postsContainer .post .postPreview {
  color: #2e2e2e;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 16px;
}
@media (min-width: 992px) {
  .twoColPage,
  .threeColPage {
    padding: 0 60px;
  }
  .twoColPage .postsContainer,
  .threeColPage .postsContainer {
    max-width: 1400px;
  }
}
@media (max-width: 991px) {
  .twoColPage,
  .threeColPage {
    padding: 0 40px;
  }
}
@media (min-width: 992px) {
  .twoColPage .postsContainer .post {
    width: calc(50% - 32px);
  }
  .twoColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 2.22413793;
  }
}
@media (max-width: 991px) {
  .twoColPage .post {
    width: 100%;
  }
  .twoColPage .post .imageWrapper {
    aspect-ratio: auto 2.22413793;
  }
}
@media (min-width: 991px) {
  .threeColPage .postsContainer .post {
    width: calc(33.3333% - 32px);
  }
  .threeColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 1.64285714;
  }
}
@media (max-width: 990px) {
  .threeColPage .postsContainer .post {
    width: calc(50% - 32px);
  }
  .threeColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 1.64285714;
  }
}
@media (max-width: 600px) {
  .threeColPage .postsContainer .post {
    width: 100%;
  }
  .threeColPage .postsContainer .post .imageWrapper {
    aspect-ratio: auto 1.64285714;
  }
}
