.twoColPage,
.threeColPage {
  margin: 120px 0;
  display: block;
  .postsContainer {
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .post {
      margin-bottom: 64px;

      .imageWrapper {
        margin-bottom: 16px;
        overflow: hidden;
        cursor: pointer;
        display: block;
        position: relative;
        // background-color: rgb(235, 235, 235);

        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .postTitle {
        color: #2e2e2e;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        h4 {
          font-size: 1.5rem;
          margin-bottom: 16px;
          font-weight: 600;
          text-transform: none;
        }

        &:hover {
          color: #8179a6;
        }
      }

      .date,
      .tags {
        font-size: 1rem;
        margin-bottom: 16px;
        font-weight: 400;
        color: #626161;
      }

      .tags {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #2e2e2e;
        }
      }

      .postPreview {
        color: #2e2e2e;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 16px;
        overflow: hidden;

        img {
          max-height: 150px;
          object-fit: cover;
          width: 100%;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .twoColPage,
  .threeColPage {
    padding: 0 60px;
    .postsContainer {
      max-width: 1400px;
    }
  }
}

@media (max-width: 991px) {
  .twoColPage,
  .threeColPage {
    padding: 0 40px;
  }
}

// two  column page
@media (min-width: 992px) {
  .twoColPage {
    .postsContainer {
      .post {
        width: calc(50% - 32px);

        .imageWrapper {
          aspect-ratio: auto 645 / 290;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .twoColPage {
    .post {
      width: 100%;

      .imageWrapper {
        aspect-ratio: auto 645 / 290;
      }
    }
  }
}

// three  column page
@media (min-width: 991px) {
  .threeColPage {
    .postsContainer {
      .post {
        width: calc(33.3333% - 32px);

        .imageWrapper {
          aspect-ratio: auto 460 / 280;
        }
      }
    }
  }
}

@media (max-width: 990px) {
  .threeColPage {
    .postsContainer {
      .post {
        width: calc(50% - 32px);

        .imageWrapper {
          aspect-ratio: auto 460 / 280;
        }
      }
    }
  }
}

@media (max-width: 600px) {
  .threeColPage {
    .postsContainer {
      .post {
        width: 100%;

        .imageWrapper {
          aspect-ratio: auto 460 / 280;
        }
      }
    }
  }
}

.header {
  position: absolute;
  top: 110px;
  left: 0;
  min-width: 100%;
  height: 304px;
  z-index: 1;

  .backgroundOverlay {
    height: 304px;
    width: 100%;
    background: #00000024;
    position: absolute;
    z-index: 2;
  }
  .imageWrapper {
    position: absolute;
    z-index: 8;
    width: 100%;
    height: 304px;
  }

  h1 {
    z-index: 10;
    position: relative;
    margin: 48px 0 32px;
    color: white;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  p {
    margin: 0 auto 48px;
    position: relative;
    z-index: 8;
    max-width: 700px;
    text-align: center;
    font-weight: 500;
    color: white;
  }
}
.postPage {
  padding-top: 280px;
}
