.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 32px;
}
.formContainer .bottomRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 70%;
  margin-bottom: 32px;
}
.formContainer .bottomRow p {
  color: white;
  margin-bottom: 32px;
  text-align: center;
}
.formContainer .bottomRow .priceContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
  padding: 0 20px;
}
.formContainer .bottomRow .priceContainer .box {
  font-family: sans-serif;
  letter-spacing: 0.2rem;
  min-width: 84px;
  color: #fff;
  font-size: 22px;
  padding: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(38, 116, 52, 0.1);
  position: relative;
  z-index: 1;
}
.formContainer .bottomRow .priceContainer .box .radio {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 100% !important;
  height: 50px;
  outline: none;
}
.formContainer .bottomRow .priceContainer .box a {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  width: 100% !important;
  left: 0;
  background-color: #8179a6;
  border-radius: 4px;
  z-index: -1;
}
.formContainer .bottomRow .priceContainer .boxSelected a {
  background-color: #454060;
}
.formContainer .bottomRow .btnWrapper {
  margin: 32px auto 0;
  width: 300px;
}
.formContainer .bottomRow .btnWrapper .btn {
  border: 5px solid;
  padding: 8px 16px;
  font-family: 'Raleway' !important;
  font-size: 1.4rem;
  font-weight: 600;
  border-radius: 2px;
  text-transform: capitalize;
  min-height: 56px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.formContainer .bottomRow .btnWrapper .btnActive {
  border-color: #8179a6;
  color: white;
}
.formContainer .bottomRow .btnWrapper .btnActive:hover {
  background-color: #8179a6;
  color: white;
}
.formContainer .bottomRow .btnWrapper .btnActive:active {
  background-color: #454060;
  border-color: #454060;
}
.formContainer .bottomRow .btnWrapper .btnInactive {
  color: gray;
  border-color: gray;
}
