.formContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
  .bottomRow {
    .priceContainer {
      display: flex;
      flex-wrap: wrap;
      gap: 16px;
      .box {
        width: 78px;
        color: #fff;
        font-size: 24px;
        padding: 8px;
        margin-bottom: 16px;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        text-align: center;
        text-shadow: -1px -1px 1px rgba(38, 116, 52, 0.1);
        position: relative;
        z-index: 1;
        .radio {
          position: absolute !important;
          overflow: hidden;
          clip: rect(1px, 1px, 1px, 1px);
          width: 100% !important;
          height: 50px;
          outline: none;
        }
        a {
          position: absolute;
          top: 0;
          right: 0;
          height: 50px;
          width: 100% !important;

          left: 0;
          background-color: #8179a6;
          border-radius: 4px;
          z-index: -1;
        }
      }
      .boxSelected {
        a {
          background-color: darken(#8179a6,25%)
        }
      }
    }

    .btn {
      width: 400px;
      height: 40px;
      font-size: 1.1rem;
      font-family: inherit;
      background: none;
      cursor: pointer;
      color: white;
      font-weight: 500;
      max-width: 100%;
    }
  }

  .topRow {
    margin-bottom: 16px;
    .active {
      color: white;
      border-bottom: solid 3px #8179a6 !important;
    }

    .btn {
      border: none;
    }

    .btn,
    .active {
      font-family: inherit;
      text-transform: capitalize;
      font-size: 1.1rem;
      color: white;
      background: none;
      cursor: pointer;
    }
  }
}


.btnInActive {
  color:  gray !important;
  border-color: gray !important;
  border-style: solid;
}