@media (min-width: 1025px) {
  .gallery {
    margin: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      width: 100%;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1067px;
      flex-wrap: wrap;
      .card {
        position: relative;
        width: 430px;
        margin: 32px 20px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
        }
        .imageWrapper {
          display: flex;
          gap: 32px;
          align-items: flex-end;
          img {
            border-radius: 50%;
          }
        }

        .contentOpen {
          margin: 16px 0;
          height: auto;
          transition: all 4s ease-in-out;

          &::before {
            display: none;
          }
        }

        .content {
          position: relative;
          height: 150px;
          overflow: hidden;
          margin: 16px 0;
          transition: all 4s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(transparent, #eeeeee);
          }
        }

        .more {
          position: relative;
          padding: 4px 8px;
          border: 3px solid #8179a6;
          margin-top: 16px;
          display: inline-block;
          cursor: pointer;
          text-transform: capitalize;

          font-size: 0.9rem;
          transition: all 0.2s ease-in-out;
          font-family: 'Raleway', Arial, san-serif;

          &:hover {
            color: #fff;
            background: #8179a6;
          }
          &:active {
            background-color: darken(#8179a6, 25%);
            border: 5px solid darken(#8179a6, 25%);
          }

          &::before {
            content: '';
          }
        }
      }
    }
  }
}
@media (max-width: 1024px) {
  .gallery {
    margin: 48px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      text-align: center;
      width: 100%;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1067px;
      flex-wrap: wrap;
      .card {
        position: relative;
        width: 340px;
        margin: 32px 20px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
        }
        .imageWrapper {
          display: flex;
          gap: 32px;
          align-items: flex-end;
          img {
            border-radius: 50%;
          }
        }

        .contentOpen {
          margin: 16px 0;
          height: auto;

          &::before {
            display: none;
          }
        }

        .content {
          position: relative;
          height: 150px;
          overflow: hidden;
          margin: 16px 0;
          transition: all 4s ease-in-out;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(transparent, #eeeeee);
          }
        }

        .more {
          position: relative;
          padding: 4px 8px;
          border: 3px solid #8179a6;
          margin-top: 16px;
          display: inline-block;
          cursor: pointer;
          text-transform: capitalize;

          font-size: 0.9rem;
          transition: all 0.2s ease-in-out;
          font-family: 'Raleway', Arial, san-serif;

          &:hover {
            color: #fff;
            background: #8179a6;
          }
          &:active {
            background-color: darken(#8179a6, 25%);
            border: 5px solid darken(#8179a6, 25%);
          }

          &::before {
            content: '';
          }
        }
      }
    }
  }
}

@media (max-width: 769px) {
  .gallery {
    margin: 48px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h2 {
      text-align: center;
      width: 100%;
    }

    .container {
      position: relative;
      display: flex;
      justify-content: center;
      max-width: 1067px;
      flex-wrap: wrap;
      .card {
        position: relative;
        width: 100%;
        margin: 32px;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          right: 0;
        }
        .imageWrapper {
          display: flex;
          gap: 32px;
          align-items: flex-end;
          img {
            height: 90px !important;
            object-fit: fill;
            border-radius: 100%;
          }
        }

        .contentOpen {
          margin: 8px 0;
          height: auto;
          transition: all 4s ease-in-out;

          &::before {
            display: none;
          }
        }

        .content {
          position: relative;
          height: 120px;
          overflow: hidden;
          margin: 8px 0;
          &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background: linear-gradient(transparent, #eeeeee);
          }
        }

        .more {
          position: relative;
          padding: 4px 8px;
          border: 3px solid #8179a6;
          margin-top: 4px;
          display: inline-block;
          cursor: pointer;
          text-transform: capitalize;
          font-size: 0.9rem;
          transition: all 0.2s ease-in-out;
          font-family: 'Raleway', Arial, san-serif;

          &:hover {
            color: #fff;
            background: #8179a6;
          }
          &:active {
            background-color: darken(#8179a6, 25%);
            border: 5px solid darken(#8179a6, 25%);
          }

          &::before {
            content: '';
          }
        }
      }
    }
  }
}
