.loginPage {
  background: #d3d0dd;
  background: linear-gradient(180deg, #d3d0dd 30%, #9b97af 70%);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  height: 296px;
  width: 310px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 16px;
  padding: 32px;
}
.container .inputBox {
  width: 100%;
  padding: 4px;
  font-size: 16px;
  font-family: 'Raleway';
  border-radius: 3px;
}
.container .inputBox:focus-visible {
  outline: #2e2e2e;
  border: 2px solid #2e2e2e;
}
.container .button {
  border-style: none;
  cursor: pointer;
}
.container .forgotButton {
  background: none;
  color: #454250;
  font-weight: 600;
}
.container .forgotButton:hover {
  color: #454250c0;
  font-weight: 700;
}
.container .loginButton {
  color: white;
  background-color: #454250;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 50px;
  padding: 8px 0;
  width: 110px;
  margin-top: 16px;
  font-weight: 500;
}
.container .loginButton:hover {
  background-color: #454250de;
  font-weight: 600;
}
