@media (min-width: 845px) {
  .nav,
  .navActive {
    padding: 0 32px;
    font-size: 1.1rem;
    font-weight: 500;
    transition: all 0.4s ease-in-out;
    height: 109px;
  }
  .nav .topRow,
  .navActive .topRow {
    margin: 8px 0 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .nav .topRow .leftCol,
  .navActive .topRow .leftCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav .topRow .leftCol ul,
  .navActive .topRow .leftCol ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: 0;
  }
  .nav .topRow .leftCol ul a,
  .navActive .topRow .leftCol ul a {
    padding: 6px 8px;
    background-color: #635d80;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
    font-weight: 400;
  }
  .nav .topRow .leftCol ul a:active,
  .navActive .topRow .leftCol ul a:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
    transform: translateY(4px);
    background-color: #454060;
  }
  .nav .topRow .leftCol ul a:hover,
  .navActive .topRow .leftCol ul a:hover {
    filter: brightness(110%);
    transition: all 0.2s ease-in-out;
  }
  .nav .topRow .middleCol,
  .navActive .topRow .middleCol {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .nav .topRow .middleCol:hover,
  .navActive .topRow .middleCol:hover {
    cursor: pointer;
    filter: brightness(90%);
    transition: all 0.4s ease-in-out;
  }
  .nav .topRow .middleCol img,
  .navActive .topRow .middleCol img {
    height: 50px !important;
  }
  .nav .topRow .rightCol,
  .navActive .topRow .rightCol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
  .nav .topRow .rightCol .socialmediaMenu,
  .navActive .topRow .rightCol .socialmediaMenu {
    display: flex;
    gap: 8px;
  }
  .nav .bottomRow,
  .navActive .bottomRow {
    display: flex;
    justify-content: center;
    margin: 8px 0 8px;
    text-transform: capitalize;
  }
  .nav .bottomRow ul,
  .navActive .bottomRow ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
  }
  .nav .bottomRow .languageMenu,
  .navActive .bottomRow .languageMenu {
    cursor: pointer;
    position: absolute;
    bottom: 2px;
    right: 32px;
    display: flex;
    align-items: baseline;
  }
  .nav {
    background: rgba(0, 0, 0, 0);
    position: fixed;
  }
  .nav .rightCol .languageMenu {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .nav .rightCol .languageMenu a {
    transition: color 0.3s ease-in-out;
  }
  .nav .rightCol .languageMenu a:hover {
    color: #d1cedf;
  }
  .nav .bottomRow li a {
    letter-spacing: 0.1rem;
    color: #eeeeee;
    transition: color 0.2s ease-in-out;
  }
  .nav .bottomRow li a:hover {
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  }
  .nav .bottomRow .languageMenu {
    color: white;
  }
  .nav .bottomRow .languageMenu a {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .navActive {
    background: #d1cedf;
    transition: all 0.4s ease-in-out;
  }
  .navActive li a {
    color: #2e2e2e;
    transition: all 0.2s ease-in-out;
  }
  .navActive li a:hover {
    color: #000000;
  }
}
@media (max-width: 844px) {
  .nav,
  .navActive {
    font-size: 1.3rem;
    background: #d1cedf;
    transition: all 0.4s ease-in-out;
  }
  .nav .mobileNav,
  .navActive .mobileNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .nav .mobileNav .leftCol:hover,
  .navActive .mobileNav .leftCol:hover {
    cursor: pointer;
  }
  .nav .mobileNav .leftCol img,
  .navActive .mobileNav .leftCol img {
    height: 40px !important;
  }
  .nav .mobileNav .rightCol,
  .navActive .mobileNav .rightCol {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .nav .mobileNav .rightCol .languageMenu,
  .navActive .mobileNav .rightCol .languageMenu {
    font-weight: 500;
    cursor: pointer;
  }
  .nav .mobileMenu,
  .navActive .mobileMenu {
    background: #d1cedf;
    position: absolute;
    top: 60px;
    padding: 15px 15px 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .nav .mobileMenu ul,
  .navActive .mobileMenu ul {
    padding: 0;
    margin: 0;
  }
  .nav .mobileMenu ul li,
  .navActive .mobileMenu ul li {
    list-style: none;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .nav .mobileMenu ul li a,
  .navActive .mobileMenu ul li a {
    background: #635d80;
    font-size: 1.3rem;
    padding: 16px;
    color: #fff;
    display: block;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  .nav .mobileMenu ul li a:hover,
  .navActive .mobileMenu ul li a:hover {
    background: #635d80e0;
  }
  .nav .mobileMenu .socialmediaMenu,
  .navActive .mobileMenu .socialmediaMenu {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  .nav .mobileMenuClose,
  .navActive .mobileMenuClose {
    opacity: 0;
  }
  .nav .mobileMenuOpen,
  .navActive .mobileMenuOpen {
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
}
.rightCol .languageMenu {
  color: #2e2e2e;
  transition: color 0.3s ease-in-out;
}
.rightCol .languageMenu a {
  transition: color 0.3s ease-in-out;
}
.rightCol .languageMenu a:hover {
  color: #635d80;
}
.nav,
.navActive {
  position: fixed;
  width: 100%;
  z-index: 100;
}
.nav svg,
.navActive svg {
  cursor: pointer;
}
