.nav,
.navActive {
  position: fixed;
  width: 100%;
  padding: 0 60px;
  z-index: 100;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
}
.nav .topContainer,
.navActive .topContainer {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 8px;
}
.nav .topContainer .logoContainer:hover,
.navActive .topContainer .logoContainer:hover {
  cursor: pointer;
}
.nav .topContainer .logoContainer img,
.navActive .topContainer .logoContainer img {
  height: 50px !important;
}
.nav .topContainer .buttonContainer,
.navActive .topContainer .buttonContainer {
  display: flex;
  align-items: center;
}
.nav .topContainer .buttonContainer ul,
.navActive .topContainer .buttonContainer ul {
  display: flex;
  gap: 32px;
  list-style: none;
}
.nav .topContainer .buttonContainer ul a,
.navActive .topContainer .buttonContainer ul a {
  padding: 8px 16px;
  background-color: #635d80;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav .topContainer .buttonContainer ul a:active,
.navActive .topContainer .buttonContainer ul a:active {
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
  transform: translateY(4px);
}
.nav .topContainer .buttonContainer ul a:hover,
.navActive .topContainer .buttonContainer ul a:hover {
  background-color: #635d80e7;
}
.nav .topContainer .leftContainer,
.navActive .topContainer .leftContainer {
  display: flex;
  align-items: center;
  gap: 16px;
}
.nav .topContainer .leftContainer .socialmediaMenu,
.navActive .topContainer .leftContainer .socialmediaMenu {
  display: flex;
  gap: 8px;
}
.nav .topContainer .leftContainer .socialmediaMenu svg,
.navActive .topContainer .leftContainer .socialmediaMenu svg {
  cursor: pointer;
}
.nav .topContainer .leftContainer .languageMenu,
.navActive .topContainer .leftContainer .languageMenu {
  font-weight: 500;
  cursor: pointer;
}
.nav .bottomContainer,
.navActive .bottomContainer {
  display: flex;
  justify-content: center;
  margin: 8px 0 16px;
  text-transform: capitalize;
}
.nav .bottomContainer ul,
.navActive .bottomContainer ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
.nav .leftContainer .languageMenu {
  color: white;
}
.nav .leftContainer .languageMenu a {
  transition: color 0.3s ease-in-out;
}
.nav .leftContainer .languageMenu a:hover {
  color: #2e2e2e;
}
.nav svg {
  fill: white;
  transition: fill 0.3s ease-in-out;
}
.nav svg:hover {
  fill: #2e2e2e;
}
.nav .bottomContainer li a {
  color: white;
  transition: color 0.3s ease-in-out;
}
.nav .bottomContainer li a:hover {
  color: #2e2e2e;
}
.navActive {
  background-color: #d1cedf;
  transition: all 0.4s ease-in-out;
}
.navActive svg {
  fill: #2e2e2e;
  transition: fill 0.3s ease-in-out;
}
.navActive svg:hover {
  fill: #635d80;
}
.navActive .leftContainer .languageMenu {
  color: #2e2e2e;
}
.navActive .leftContainer .languageMenu a {
  transition: color 0.3s ease-in-out;
}
.navActive .leftContainer .languageMenu a:hover {
  color: #635d80;
}
.navActive li a {
  color: #2e2e2e;
  transition: color 0.3s ease-in-out;
}
.navActive li a:hover {
  color: #635d80;
}
