@media (min-width: 845px) {
  .nav,
  .navActive {
    position: fixed;
    width: 100%;
    height: 119px;
    padding: 0 40px;
    z-index: 99;
    font-size: 18px;
    transition: all 0.4s ease-in-out;
  }
  .nav .topRow,
  .navActive .topRow {
    margin: 16px 0 16px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .nav .topRow .leftCol,
  .navActive .topRow .leftCol {
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .nav .topRow .leftCol ul,
  .navActive .topRow .leftCol ul {
    display: flex;
    gap: 16px;
    list-style: none;
    padding: none;
  }
  .nav .topRow .leftCol ul a,
  .navActive .topRow .leftCol ul a {
    padding: 8px 16px;
    background-color: #635d80;
    color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
  }
  .nav .topRow .leftCol ul a:active,
  .navActive .topRow .leftCol ul a:active {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
    transform: translateY(4px);
  }
  .nav .topRow .leftCol ul a:hover,
  .navActive .topRow .leftCol ul a:hover {
    background-color: #635d80e7;
  }
  .nav .topRow .middleCol,
  .navActive .topRow .middleCol {
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .nav .topRow .middleCol:hover,
  .navActive .topRow .middleCol:hover {
    cursor: pointer;
  }
  .nav .topRow .middleCol img,
  .navActive .topRow .middleCol img {
    height: 50px !important;
  }
  .nav .topRow .rightCol,
  .navActive .topRow .rightCol {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px;
  }
  .nav .topRow .rightCol .socialmediaMenu,
  .navActive .topRow .rightCol .socialmediaMenu {
    display: flex;
    gap: 8px;
  }
  .nav .topRow .rightCol .socialmediaMenu svg,
  .navActive .topRow .rightCol .socialmediaMenu svg {
    cursor: pointer;
  }
  .nav .topRow .rightCol .languageMenu,
  .navActive .topRow .rightCol .languageMenu {
    font-weight: 500;
    cursor: pointer;
  }
  .nav .bottomRow,
  .navActive .bottomRow {
    display: flex;
    justify-content: center;
    margin: 8px 0 16px;
    text-transform: capitalize;
  }
  .nav .bottomRow ul,
  .navActive .bottomRow ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
  }
  .nav {
    background: rgba(0, 0, 0, 0.705);
    position: fixed;
  }
  .nav .rightCol .languageMenu {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .nav .rightCol .languageMenu a {
    transition: color 0.3s ease-in-out;
  }
  .nav .rightCol .languageMenu a:hover {
    color: #2e2e2e;
  }
  .nav svg {
    fill: white;
    transition: fill 0.3s ease-in-out;
  }
  .nav svg:hover {
    fill: #2e2e2e;
  }
  .nav .bottomRow li a {
    color: white;
    transition: color 0.3s ease-in-out;
  }
  .nav .bottomRow li a:hover {
    color: #2e2e2e;
  }
  .navActive {
    background: #d1cedf;
    transition: all 0.4s ease-in-out;
  }
  .navActive svg {
    fill: #2e2e2e;
    transition: fill 0.3s ease-in-out;
  }
  .navActive svg:hover {
    fill: #635d80;
  }
  .navActive .rightCol .languageMenu {
    color: #2e2e2e;
    transition: color 0.3s ease-in-out;
  }
  .navActive .rightCol .languageMenu a {
    transition: color 0.3s ease-in-out;
  }
  .navActive .rightCol .languageMenu a:hover {
    color: #635d80;
  }
  .navActive li a {
    color: #2e2e2e;
    transition: color 0.3s ease-in-out;
  }
  .navActive li a:hover {
    color: #635d80;
  }
}
@media (max-width: 844px) {
  .nav,
  .navActive {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 1.3rem;
    background: #d1cedf;
    transition: all 0.4s ease-in-out;
  }
  .nav .mobileNav,
  .navActive .mobileNav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }
  .nav .mobileNav .leftCol:hover,
  .navActive .mobileNav .leftCol:hover {
    cursor: pointer;
  }
  .nav .mobileNav .leftCol img,
  .navActive .mobileNav .leftCol img {
    height: 40px !important;
  }
  .nav .mobileNav .rightCol,
  .navActive .mobileNav .rightCol {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  .nav .mobileNav .rightCol .languageMenu,
  .navActive .mobileNav .rightCol .languageMenu {
    font-weight: 500;
    cursor: pointer;
  }
  .nav .mobileNav .rightCol svg,
  .navActive .mobileNav .rightCol svg {
    cursor: pointer;
  }
  .nav .mobileMenu,
  .navActive .mobileMenu {
    background: #d1cedf;
    position: absolute;
    top: 60px;
    padding: 15px 15px 60px;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .nav .mobileMenu ul,
  .navActive .mobileMenu ul {
    padding: 0;
    margin: 0;
  }
  .nav .mobileMenu ul li,
  .navActive .mobileMenu ul li {
    list-style: none;
    margin-top: 5px;
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  .nav .mobileMenu ul li a,
  .navActive .mobileMenu ul li a {
    background: #635d80;
    font-size: 1.3rem;
    padding: 16px;
    color: #fff;
    display: block;
    text-transform: capitalize;
    transition: all 0.3s ease-in-out;
  }
  .nav .mobileMenu ul li a:hover,
  .navActive .mobileMenu ul li a:hover {
    background: #635d80e0;
  }
  .nav .mobileMenu .socialmediaMenu,
  .navActive .mobileMenu .socialmediaMenu {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 16px;
  }
  .nav .mobileMenu .socialmediaMenu svg,
  .navActive .mobileMenu .socialmediaMenu svg {
    cursor: pointer;
    fill: #2e2e2e;
    transition: fill 0.3s ease-in-out;
    height: 40px;
    width: 40px;
  }
  .nav .mobileMenu .socialmediaMenu svg:hover,
  .navActive .mobileMenu .socialmediaMenu svg:hover {
    fill: #635d80;
  }
  .nav .mobileMenuClose,
  .navActive .mobileMenuClose {
    opacity: 0;
  }
  .nav .mobileMenuOpen,
  .navActive .mobileMenuOpen {
    transition: opacity 0.3s ease-in-out;
    visibility: visible;
    opacity: 1;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }
}
.rightCol .languageMenu {
  color: #2e2e2e;
  transition: color 0.3s ease-in-out;
}
.rightCol .languageMenu a {
  transition: color 0.3s ease-in-out;
}
.rightCol .languageMenu a:hover {
  color: #635d80;
}
