@media (min-width: 845px) {
  .nav,
  .navActive {
    position: fixed;
    width: 100%;
    padding: 0 32px;
    z-index: 99;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.4s ease-in-out;

    .topRow {
      margin: 8px 0 16px;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      .leftCol {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        ul {
          display: flex;
          gap: 16px;
          list-style: none;
          padding: 0;
          a {
            padding: 6px 8px;
            background-color: #635d80;
            color: white;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 2px;
            font-weight: 400;
            &:active {
              box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.45);
              transform: translateY(4px);
              background-color: darken(#8179a6, 25%);
            }

            &:hover {
              background-color: darken(#8179a6, 25%);
            }
          }
        }
      }

      .middleCol {
        margin: 0 auto;
        display: flex;
        align-items: center;
        &:hover {
          cursor: pointer;
        }
        img {
          height: 50px !important;
        }
      }

      .rightCol {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        gap: 16px;
        .socialmediaMenu {
          display: flex;
          gap: 8px;
          svg {
            cursor: pointer;
          }
        }

        .languageMenu {
          cursor: pointer;
        }
      }
    }

    .bottomRow {
      display: flex;
      justify-content: center;
      margin: 8px 0 8px;
      text-transform: capitalize;

      ul {
        display: flex;
        list-style: none;
        gap: 16px;
        padding: 0;
      }
    }
  }

  .nav {
    background: rgba(0, 0, 0, 0);
    position: fixed;

    .rightCol {
      .languageMenu {
        color: white;
        transition: color 0.3s ease-in-out;
        a {
          transition: color 0.3s ease-in-out;
          &:hover {
            color: rgb(209, 206, 223);
          }
        }
      }
    }

    svg {
      fill: white;
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: rgb(209, 206, 223);
      }
    }

    .bottomRow {
      li {
        a {
          color: white;
          transition: color 0.3s ease-in-out;
          &:hover {
            color: rgb(209, 206, 223);
          }
        }
      }
    }
  }

  .navActive {
    background: rgb(209, 206, 223);
    transition: all 0.4s ease-in-out;

    svg {
      fill: #2e2e2e;
      transition: fill 0.3s ease-in-out;

      &:hover {
        fill: darken(#8179a6, 25%);
      }
    }

    .rightCol {
      .languageMenu {
        color: #2e2e2e;
        transition: color 0.3s ease-in-out;

        a {
          transition: color 0.3s ease-in-out;
          &:hover {
            color: darken(#8179a6, 25%);
          }
        }
      }
    }

    li {
      a {
        color: #2e2e2e;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: darken(#8179a6, 25%);
          border-bottom: 1px solid;
        }
      }
    }
  }
}

@media (max-width: 844px) {
  .nav,
  .navActive {
    position: fixed;
    width: 100%;
    z-index: 100;
    font-size: 1.3rem;
    background: rgb(209, 206, 223);
    transition: all 0.4s ease-in-out;

    .mobileNav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      padding: 16px;

      .leftCol {
        &:hover {
          cursor: pointer;
        }
        img {
          height: 40px !important;
        }
      }

      .rightCol {
        display: flex;
        align-items: center;
        gap: 16px;

        .languageMenu {
          font-weight: 500;
          cursor: pointer;
        }

        svg {
          cursor: pointer;
        }
      }
    }

    .mobileMenu {
      background: rgb(209, 206, 223);
      position: absolute;
      top: 60px;
      padding: 15px 15px 60px;
      left: 0;
      width: 100%;
      z-index: 1;
      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
          margin-top: 5px;
          width: 100%;
          overflow: hidden;
          position: relative;
          a {
            background: #635d80;
            font-size: 1.3rem;
            padding: 16px;
            color: #fff;
            display: block;
            text-transform: capitalize;
            transition: all 0.3s ease-in-out;

            &:hover {
              background: #635d80e0;
            }
          }
        }
      }

      .socialmediaMenu {
        display: flex;
        justify-content: center;
        gap: 8px;
        margin-top: 16px;

        svg {
          cursor: pointer;
          fill: #2e2e2e;
          transition: fill 0.3s ease-in-out;
          height: 40px;
          width: 40px;

          &:hover {
            fill: #635d80;
          }
        }
      }
    }
    .mobileMenuClose {
      opacity: 0;
    }

    .mobileMenuOpen {
      transition: opacity 0.3s ease-in-out;
      visibility: visible;
      opacity: 1;
      height: calc(100vh - 60px);
      overflow-y: auto;
    }
  }
}

.rightCol {
  .languageMenu {
    color: #2e2e2e;
    transition: color 0.3s ease-in-out;

    a {
      transition: color 0.3s ease-in-out;
      &:hover {
        color: #635d80;
      }
    }
  }
}
