.eventsPage {
  margin: 0 auto;
}
.eventsPage .contentContainer .eventContainer {
  border: 1px solid #dddddd;
  border-radius: 2px;
  padding: 16px;
  cursor: pointer;
  background-image: linear-gradient(to top, #8179a6 50%, transparent 50%);
  background-size: 200% 200%;
  background-position: top;
  transition: all 0.3s;
  fill: #8179a6;
  color: #2e2e2e;
}
.eventsPage .contentContainer .eventContainer svg {
  margin-bottom: 16px;
}
.eventsPage .contentContainer .eventContainer .title {
  font-weight: 600;
  transition: color 0.3s;
}
.eventsPage .contentContainer .eventContainer:hover {
  background-image: linear-gradient(to top, #8179a6 51%, transparent 50%);
  background-position: 0 100%;
  transition: all 0.3s;
  color: #fff;
  fill: #fff;
}
.eventsPage .contentContainer .eventContainer p {
  margin-bottom: 8px;
}
@media (min-width: 1135px) {
  .eventsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .eventsPage .contentContainer {
    display: flex;
    gap: 16px;
    justify-content: center;
  }
  .eventsPage .contentContainer .eventContainer {
    width: 33%;
  }
}
@media (max-width: 1134px) {
  .eventsPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
  }
  .eventsPage .eventContainer {
    margin-bottom: 16px;
    width: 100%;
  }
}
