.facebookPage {
  margin: 120px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facebookPage h2 {
  text-transform: uppercase;
  color: #2e2e2e;
  text-align: center;
}
.facebookPage .facebookPosts {
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.facebookPage .facebookPosts .postContainer {
  position: relative;
  height: 100%;
  width: 340px;
  padding: 16px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.facebookPage .facebookPosts .postContainer .postHeader {
  display: flex;
  gap: 16px;
}
.facebookPage .facebookPosts .postContainer .postHeader img {
  width: 50px;
  height: 50px;
}
.facebookPage .facebookPosts .postContainer .postHeader h4 {
  font-size: 16px;
  margin-bottom: 16px;
}
.facebookPage .facebookPosts .postContainer p {
  margin-bottom: 16px;
}
.facebookPage .facebookPosts .postContainer .imgContainer {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.facebookPage .facebookPosts .postContainer .imgContainer img {
  width: 100%;
}
.facebookPage .facebookPosts .postContainer .sharedPostContainer {
  background-color: #f9f9f9;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
  padding: 16px;
}
.facebookPage .facebookPosts .postContainer .sharedPostContainer .author {
  margin-top: 16px;
  font-size: 14px;
  color: #9a9a9a;
}
.facebookPage .facebookPosts .postContainer .bottomContainer {
  display: flex;
  margin-top: 16px;
  align-items: baseline;
  font-size: 14px;
  color: #9a9a9a;
  justify-content: space-between;
}
.facebookPage .facebookPosts .postContainer .bottomContainer .reaction {
  display: flex;
  gap: 8px;
}
.facebookPage .facebookPosts .postContainer .bottomContainer .action {
  display: flex;
  align-items: baseline;
}
.facebookPage .facebookPosts .postContainer .bottomContainer .action span {
  padding: 0 8px;
  font-size: 0.5rem;
}
.facebookPage .facebookPosts .postContainer .bottomContainer .action p {
  cursor: pointer;
}
@media (min-width: 1321px) {
  .facebookPosts {
    width: 80%;
  }
}
@media (max-width: 1320px) {
  .facebookPosts {
    padding: 0 40px;
  }
}
