.eventsPage {
  margin: 0 auto;
  margin-top: -120px;

  h2 {
    text-transform: uppercase;
    text-align: center;
    padding-top: 120px;
  }

  .contentContainer {
    padding: 0 70px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    .eventContainer {
      border: 1px solid #efefef;
      border-radius: 2px;
      padding: 20px;
      cursor: pointer;
      background-image: linear-gradient(to top, #8179a6 50%, transparent 50%);
      background-size: 200% 200%;
      background-position: top;
      transition: all 0.3s;
      fill: #8179a6;
      color: #2e2e2e;
      margin-bottom: 16px;
      min-height: 297px;

      svg {
        margin-bottom: 16px;
      }

      .title {
        font-size: 1.2rem;
        text-align: left;
        font-weight: 600;
        margin-bottom: 16px;
        transition: color 0.3s;
      }

      &:hover {
        background-image: linear-gradient(to top, #8179a6 51%, transparent 50%);
        background-position: 0 100%;
        transition: all 0.3s;
        color: #fff;
        fill: #fff;
      }
    }
  }
}

@media (min-width: 1200px) {
  .eventsPage {
    max-width: 1600px;
    padding: 0 60px;

    .eventContainer {
      width: 30.33333%;
    }
  }
}

@media (max-width: 1200px) {
  .eventsPage {
    padding: 0 40px;
    .eventContainer {
      width: calc(50% - 30px);
    }
  }
}

@media (max-width: 992px) {
  .eventsPage {
    padding: 0;
    .eventContainer {
      width: 100%;
    }
  }
}
