.aboutPage {
  text-align: center;
  margin: 120px auto;
}
.aboutPage .aboutContainer {
  width: 80%;
  margin: 32px auto 48px;
}
.aboutPage .aboutContainer p {
  font-size: 1.3rem;
  line-height: 1.5rem;
}
.aboutPage .contentContainer {
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.aboutPage .contentContainer .img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.aboutPage .contentContainer .linkContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 48px;
  min-width: 700px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutPage .contentContainer .linkContainer p {
  color: white;
}
