.aboutPage {
  text-align: center;
  margin: 120px auto;
  color: #2e2e2e;
}
.aboutPage .aboutContainer {
  margin: 0 auto 48px;
}
.aboutPage .aboutContainer p {
  margin: 16px 0;
}
.aboutPage .contentContainer {
  height: 400px;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.aboutPage .contentContainer .img {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}
.aboutPage .contentContainer .linkContainer {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 32px 48px;
  min-width: 950px;
  height: 272px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutPage .contentContainer .linkContainer h4 {
  font-size: 1.6rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
  margin-bottom: 32px;
}
@media (min-width: 1201px) {
  .aboutContainer {
    max-width: 1200px;
    padding: 0 60px;
    margin: 0 auto 48px;
  }
  .aboutContainer .text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1200px) {
  .aboutContainer {
    padding: 0 40px;
    margin: 0 auto 48px;
  }
  .aboutContainer .text p {
    font-size: 1.1rem;
  }
}
