.aktuelles {
  margin: 120px auto 120px;
  width: 80%;
}
.aktuelles h1 {
  text-align: center;
  font-weight: 900;
  font-size: 88px;
  margin: 0;
}
.aktuelles .postContainer {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.aktuelles .postContainer .post {
  width: calc(50% - 15px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}
.aktuelles .postContainer .post h2 {
  margin: 0;
}
.aktuelles .postContainer .post h4 {
  margin: 0;
}
.aktuelles .postContainer .post a {
  margin: 0;
}
.aktuelles .postContainer .post .postPreview p {
  margin: 0;
}
.newsletter {
  margin: 120px auto 120px;
  width: 80%;
}
.newsletter h1 {
  text-align: center;
  font-weight: 900;
  font-size: 88px;
  margin: 0;
}
.newsletter .postContainer {
  margin-top: 48px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.newsletter .postContainer .post {
  width: calc(30% - 15px);
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 64px;
}
