.ctaPage {
  height: auto;

  .hidden {
    position: relative;
    // top: -200px;
    height: 0;
    width: 100%;
    transition: all 1s;
    overflow: hidden;
    background-color: red;
  }

  .visible {
    position: relative;
    top: 0;
    background-color: yellow;
    height: auto;
    width: 100%;
    z-index: 1;
    transition: top 1s;
  }

  .imgWrapper {
    height: 466px;
    overflow: hidden;
    position: relative;

    .backgroundImage {
      position: absolute !important;
      top: -50% !important;
      z-index: 10;
    }

    .boxContainer {
      position: absolute;
      z-index: 20;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 32px;

      .cta {
        background-color: rgba(0, 0, 0, 0.363);
        color: white;
        height: 338px;
        width: 404px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
        padding: 16px;
        text-align: center;
        cursor: pointer;

        &:hover {
          background-color: rgba(0, 0, 0, 0.463);
        }

        a {
          position: fixed;
          height: 338px;
          width: 404px;
        }
        h3 {
          text-transform: uppercase;
        }
      }
    }
  }
}
