.facebookPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.facebookPage h1 {
  text-transform: uppercase;
}
.facebookPage .facebookPosts {
  width: 80%;
  display: flex;
  flex-direction: row;
  grid-gap: 16px;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}
.facebookPage .facebookPosts .postContainer {
  width: 340px;
  padding: 16px;
  border: 1px solid;
  height: auto;
}
.facebookPage .facebookPosts .postContainer .imgContainer {
  width: 100%;
  height: auto;
  margin-bottom: 16px;
}
.facebookPage .facebookPosts .postContainer .imgContainer img {
  width: 100%;
}
