.container {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
}
.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 16px;
}
.container form h1 {
  font-weight: 900;
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container form .formRow input,
.container form .formRow textarea {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container form .formRow textarea {
  height: 162px;
}
.container form .formRow button {
  color: white;
}
.newsletterForm {
  display: flex;
  flex-direction: column;
  width: 1440px;
  margin: 0 auto;
}
.newsletterForm h1 {
  text-transform: capitalize;
  margin: 32px 0;
}
.newsletterForm form {
  display: flex;
  gap: 16px;
}
.newsletterForm form button {
  color: black;
  text-transform: capitalize;
}
.form input,
.form textarea {
  width: 372px;
  font-size: 20px;
  padding: 8px;
  border: 2px solid black;
  font-family: 'Raleway';
}
.form input {
  height: 51px;
}
.form button {
  width: 372px;
  padding: 8px 16px;
  font-family: 'Raleway' !important;
  background-color: rgba(0, 0, 0, 0);
  font-size: 25px;
  border: 3px solid #8179a6;
  font-weight: 700;
}
.form .error {
  background: white;
  color: red;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid #efefef;
  margin-top: 5px;
  box-shadow: 0px 1px 2px rgb(0 0 0%);
  font-weight: bold;
  width: auto;
}
