.header {
  background: url('../styles/images/header-background.jpg') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 611px;
  display: flex;
  align-items: center;
}
.header .container {
  background-color: rgba(0, 0, 0, 0.7);
  width: auto;
  height: 246px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 48px;
}
.header .container p {
  font-size: 1.9rem;
  line-height: 1.5rem;
  font-weight: 400;
  text-align: center;
  color: #ffffff;
}
