.loginPage {
  background: rgb(211, 208, 221);
  background: linear-gradient(
    167deg,
    rgba(155, 151, 175, 1) 0%,
    rgba(99, 93, 128, 1) 60%
  );
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  height: 296px;
  width: 296px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border-radius: 10px;
  gap: 16px;
  .inputBox {
    width: 200px;
    padding: 4px;
    font-size: 14px;
    font-family: 'Raleway';
  }

  .forgotButton {
    background: none;
    color: #454250;
    font-weight: 600;
    &:hover {
      color: #9b97af;
      font-weight: 700;
    }
  }

  .button {
    color: white;
    background-color: #454250;
    text-transform: uppercase;
    font-size: 16px;
    border-radius: 50px;
    padding: 8px 0;
    width: 110px;
    margin-top: 16px;
    font-weight: 500;
    &:hover {
      background-color: #9b97af;
      font-weight: 600;
    }
  }
}
