.nav {
  position: fixed;
  width: 100%;
  background-color: #d1cedf;
}
.nav .topContainer {
  display: flex;
  justify-content: space-evenly;
  margin: 16px 0 8px;
}
.nav .topContainer .logoContainer img {
  height: 50px;
}
.nav .topContainer .buttonContainer {
  display: flex;
  align-items: center;
  gap: 16px;
  list-style: none;
}
.nav .topContainer .buttonContainer a {
  padding: 8px 16px;
  background-color: #635d80;
  color: white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.nav .bottomContainer {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin: 8px 0 16px;
  list-style: none;
}
.nav .bottomContainer:hover {
  color: #635d80;
}
