.twoColPage .postsContainer .post {
  width: calc(50% - 32px);
}
.twoColPage .postsContainer .post .imageWrapper {
  aspect-ratio: auto 2.22413793;
}
.twoColPage,
.threeColPage {
  margin: 120px 0;
  display: block;
}
.twoColPage .postsContainer,
.threeColPage .postsContainer {
  width: 80%;
  margin: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.twoColPage .postsContainer .post,
.threeColPage .postsContainer .post {
  margin-bottom: 64px;
}
.twoColPage .postsContainer .post .imageWrapper,
.threeColPage .postsContainer .post .imageWrapper {
  margin-bottom: 16px;
  overflow: hidden;
  cursor: pointer;
  display: block;
  aspect-ratio: auto 2.22413793;
  width: 100%;
}
.twoColPage .postsContainer .post .imageWrapper img,
.threeColPage .postsContainer .post .imageWrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.twoColPage .postsContainer .post .postTitle,
.threeColPage .postsContainer .post .postTitle {
  color: #2e2e2e;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .postTitle h3,
.threeColPage .postsContainer .post .postTitle h3 {
  font-size: 1.9rem;
  margin-bottom: 16px;
  font-weight: 600;
}
.twoColPage .postsContainer .post .postTitle:hover,
.threeColPage .postsContainer .post .postTitle:hover {
  color: blueviolet;
}
.twoColPage .postsContainer .post .date,
.threeColPage .postsContainer .post .date,
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  font-size: 1rem;
  margin-bottom: 16px;
  font-weight: 400;
  color: #626161;
}
.twoColPage .postsContainer .post .tags,
.threeColPage .postsContainer .post .tags {
  transition: color 0.3s ease-in-out;
}
.twoColPage .postsContainer .post .tags:hover,
.threeColPage .postsContainer .post .tags:hover {
  color: #2e2e2e;
}
.twoColPage .postsContainer .post .postPreview,
.threeColPage .postsContainer .post .postPreview {
  color: #2e2e2e;
  line-height: 1.5rem;
  font-size: 1rem;
  font-weight: 400;
  margin-top: 16px;
}
.threeColPage .postsContainer .post {
  width: calc(30% - 32px);
}
.threeColPage .postsContainer .post .imageWrapper {
  aspect-ratio: auto 1.64285714;
}
