.twoColPage {
  .postsContainer {
    .post {
      width: calc(50% - 32px);

      .imageWrapper {
        aspect-ratio: auto 645 / 290;
      }
    }
  }
}

.twoColPage,
.threeColPage {
  margin: 120px 0;
  display: block;
  .postsContainer {
    width: 80%;
    margin: auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .post {
      margin-bottom: 64px;

      .imageWrapper {
        margin-bottom: 16px;
        overflow: hidden;
        cursor: pointer;
        display: block;
        aspect-ratio: auto 645 / 290;
        width: 100%;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }

      .postTitle {
        color: #2e2e2e;
        text-decoration: none;
        transition: color 0.3s ease-in-out;
        h3 {
          font-size: 1.9rem;
          margin-bottom: 16px;
          font-weight: 600;
        }

        &:hover {
          color: blueviolet;
        }
      }

      .date,
      .tags {
        font-size: 1rem;
        margin-bottom: 16px;
        font-weight: 400;
        color: #626161;
      }

      .tags {
        transition: color 0.3s ease-in-out;
        &:hover {
          color: #2e2e2e;
        }
      }

      .postPreview {
        color: #2e2e2e;
        line-height: 1.5rem;
        font-size: 1rem;
        font-weight: 400;
        margin-top: 16px;
      }
    }
  }
}

.threeColPage {
  .postsContainer {
    .post {
      width: calc(30.3333333333% - 32px);

      .imageWrapper {
        // change
        aspect-ratio: auto 460 / 280;
      }
    }
  }
}
