@media (min-width: 1025px) {
  .aboutContainer {
    padding: 0 60px;
    margin: 0 auto 48px;
  }
  .aboutContainer .text p {
    font-size: 1.2rem;
  }
}
@media (max-width: 1024px) {
  .aboutContainer {
    padding: 0 40px;
    margin: 0 auto 48px;
  }
  .aboutContainer .text p {
    font-size: 1.1rem;
  }
}
@media (max-width: 769px) {
  .aboutPage {
    color: #2e2e2e;
  }
  .aboutPage .aboutContainer p {
    margin: 16px auto;
  }
  .aboutPage .contentContainer {
    height: 380px;
    position: relative;
  }
  .aboutPage .contentContainer img {
    position: relative;
    min-height: 380px;
  }
  .aboutPage .contentContainer .linkContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 95%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 32px 48px;
  }
  .aboutPage .contentContainer .linkContainer h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer {
    display: flex;
    flex-direction: column;
    padding: 0 16px;
    gap: 16px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton {
    width: 100%;
    font-size: 1rem;
    color: #fff;
    border: 5px solid #8179a6;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    font-family: 'Raleway', Arial, san-serif;
    text-transform: capitalize;
    cursor: pointer;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:hover {
    color: #fff;
    background: #8179a6;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:active {
    background-color: #454060;
    border: 5px solid #454060;
  }
}
