@media (min-width: 1025px) {
  .aboutPage {
    margin-top: 120px;
  }
  .aboutPage .aboutContainer {
    max-width: 1067px;
  }
  .aboutPage .contentContainer {
    height: 400px;
    position: relative;
    overflow: hidden;
  }
  .aboutPage .contentContainer img {
    position: relative;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .aboutPage .contentContainer .linkContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 32px 48px;
    min-width: 950px;
    height: 272px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutPage .contentContainer .linkContainer h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton {
    color: #fff;
    border: 5px solid #8179a6;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    font-family: 'Raleway', Arial, san-serif;
    text-transform: capitalize;
    cursor: pointer;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:hover {
    color: #fff;
    background: #8179a6;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:active {
    background-color: #454060;
    border: 5px solid #454060;
  }
}
@media (max-width: 1024px) and (min-width: 770px) {
  .aboutPage {
    margin-top: 120px;
  }
  .aboutPage .aboutContainer {
    padding: 0 40px;
  }
  .aboutPage .contentContainer {
    height: 350px;
    position: relative;
    overflow: hidden;
  }
  .aboutPage .contentContainer img {
    position: relative;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%);
  }
  .aboutPage .contentContainer .linkContainer {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 48px 32px;
    min-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .aboutPage .contentContainer .linkContainer h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 32px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton {
    color: #fff;
    border: 5px solid #8179a6;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    font-family: 'Raleway', Arial, san-serif;
    text-transform: capitalize;
    cursor: pointer;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:hover {
    color: #fff;
    background: #8179a6;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:active {
    background-color: #454060;
    border: 5px solid #454060;
  }
}
@media (max-width: 769px) {
  .aboutPage {
    color: #2e2e2e;
  }
  .aboutPage .aboutContainer p {
    margin: 16px auto;
  }
  .aboutPage .contentContainer {
    position: relative;
    height: 300px;
    overflow: hidden;
  }
  .aboutPage .contentContainer img {
    height: 300px;
  }
  .aboutPage .contentContainer .linkContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
    padding: 32px;
    width: 90%;
  }
  .aboutPage .contentContainer .linkContainer h3 {
    text-align: center;
    color: #ffffff;
    margin-bottom: 16px;
    font-size: 1.1rem !important;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton {
    font-size: 0.9rem;
    color: #fff;
    border: 4px solid #8179a6;
    padding: 8px 16px;
    transition: all 0.2s ease-in-out;
    font-family: 'Raleway', Arial, san-serif;
    text-transform: capitalize;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:hover {
    color: #fff;
    background: #8179a6;
  }
  .aboutPage .contentContainer .linkContainer .btnContainer .linkButton:active {
    background-color: #454060;
    border: 5px solid #454060;
  }
}
