.container {
  background-color: #2e2e2e;
  display: flex;
  justify-content: center;
  width: 100%;
}
.container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  grid-gap: 16px;
}
.container form h2 {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  margin-bottom: 0;
  color: #fff;
}
.container form .formRow input,
.container form .formRow textarea {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.container form .formRow textarea {
  height: 162px;
}
.container form button {
  text-align: center;
  width: 300px;
}
@media (min-width: 831px) {
  .newsletterForm {
    padding: 48px 120px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .newsletterForm h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    color: #2e2e2e;
  }
  .newsletterForm form {
    display: flex;
    gap: 16px;
    width: 100%;
  }
  .newsletterForm form div {
    width: calc(33% - 16px);
  }
  .newsletterForm form div :focus-visible {
    border: none;
  }
  .newsletterForm form button {
    color: black;
  }
}
@media (max-width: 830px) {
  .newsletterForm {
    padding: 48px 32px;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
  .newsletterForm h2 {
    text-transform: uppercase;
    width: 100%;
    text-align: left;
    margin-bottom: 32px;
    color: #2e2e2e;
    font-size: 2rem;
  }
  .newsletterForm form {
    display: flex;
    gap: 16px;
    width: 100%;
  }
  .newsletterForm form div {
    width: calc(33% - 16px);
  }
  .newsletterForm form div :focus-visible {
    border: none;
  }
  .newsletterForm form button {
    color: black;
  }
}
.form .error {
  color: red;
  padding: 5px 10px;
  margin: 5px 0;
  font-weight: bold;
  width: auto;
}
.membershipFormContainer {
  background: rgba(0, 0, 0, 0.637);
  border-radius: 3px;
  width: 500px;
  padding: 48px 32px;
}
.membershipFormContainer .membershipForm .formRow {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: baseline;
}
.membershipFormContainer .membershipForm h3 {
  color: white;
  margin-bottom: 16px;
  text-transform: capitalize;
}
.membershipFormContainer .membershipForm input {
  background: none;
  color: white;
  border: none;
  border-bottom: #8179a6 2px solid;
  margin-bottom: 16px;
  height: 40px;
}
.membershipFormContainer .membershipForm input:focus-visible {
  outline: none;
  border: none;
  border-bottom: #8179a6 2px solid;
}
.membershipFormContainer .membershipForm span {
  color: white;
}
.membershipFormContainer .membershipForm button {
  margin-top: 32px;
}
.donationsForm {
  background: rgba(0, 0, 0, 0.637);
  border-radius: 3px;
  width: 500px;
  padding: 48px 32px;
}
.donationsForm .formContainer {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.donationsForm .formContainer .box {
  width: 22%;
  color: #fff;
  font-size: 24px;
  padding: 8px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-align: center;
  text-shadow: -1px -1px 1px rgba(38, 116, 52, 0.1);
  position: relative;
  z-index: 1;
}
.donationsForm .formContainer .box input {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 100% !important;
  height: 50px;
  outline: none;
}
.donationsForm .formContainer .box a {
  position: absolute;
  top: 0;
  right: 0;
  height: 50px;
  left: 0;
  background-color: #8179a6;
  border-radius: 4px;
  z-index: -1;
}
